img {
	width: 800px;
	display:block;
    margin-right: auto;
	margin-left: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 0 0 0;
	
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	
}

button {
	background-color: white;
	border-radius: 10px;
	padding: 5px 100px 5px 100px;
	display:block;
    margin: 0 auto;
}

h1, .section h2 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

p, h1, figcaption {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
 
.section {
	background-color: white;
	border-radius: 20px;
	margin-top: 0px;
	margin-bottom: 70px;
	padding: 50px 60px 40px 60px;
	
}

body {
	background-color: #1A1A1A;
	
}

.information {
	display: none;
}

.section, #header {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	
}

#header {
	margin-top: 80px;
	margin-bottom: 0px;
}

#header h1 {
	font-size: 400%;
	color: white;
}

figcaption {
	text-align: center;
	padding: 10px;
}

figure {
	background-color: #E5E5E5;
	padding: 0 0 0 0;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
}

#abstract {
	padding: 15px;
	background-color: #E5E5E5;
	border-radius: 10px;
}